<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title data-i18n>name</title>

    <link rel="stylesheet" href="../css/vendor/chota.min.css">
    <link rel="stylesheet" href="../css/options.css">
</head>

<body>
    <header>
        <nav class="nav">
            <div class="container">
                <div class="nav-left">
                    <strong class="brand" data-i18n>name</strong>
                </div>
                <div class="nav-right">
                    <a id="themeSwitch" href="#">🌙</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <details class="card">
            <summary>
                <label for="listConfigs" class="summary-title" data-i18n>configs</label>
                <div class="summary-chevron-up">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-down">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </div>
            </summary>
            <form class="mb-0 summary-content" id="formConfigs">
                <textarea rows="7" id="listConfigs"></textarea>
                <div class="row mt-2">
                    <div class="col mb-0 is-left is-hidden" id="statusWrap">
                        <button class="button clear" data-i18n>updated</button>
                    </div>
                    <div class="col mb-0 is-right">
                        <button type="submit" class="button primary" id="submitBtn" data-i18n>save</button>
                    </div>
                </div>
                <div class="summary-chevron-down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-up">
                        <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>
                </div>
            </form>
        </details>
    </div>
</body>
<script src="../js/i18n.js"></script>
<script src="../js/options.js"></script>

</html>
