body.dark {
    --bg-color: #000;
    --bg-secondary-color: #262626;
    --font-color: #f5f5f5;
    --color-grey: #bbb;
    --color-darkGrey: #888;
    --color-primary: #17c16f;
    --color-error: #ea4f4f;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

textarea {
    background: var(--bg-secondary-color);
}
